.city {
    padding-top: 200px;
}

.city__h2 {
    margin-bottom: 57px;
}

.city {
    padding-bottom: 124px;
}
.city__content {
    position: relative;
}

.city__content-slide {
    display: flex;
    width: 100%;
}

.city__content-image {
    min-height: 476px;
    width: 56%;
    margin-right: 124px;
}
.city__content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.city__content-descr {
    flex: 1;
    z-index: 2;
}

.city__content-text {
    font-size: 18px;
    line-height: 26px;
    max-width: 320px;
}
.city__navigationSlider {
    gap: 24px;
    position: absolute;
    width: calc(100% - 56% - 124px);
    right: 0;
    bottom: 98px;
    padding-left: 7px;
    z-index: 2;
}

.city__navigationSlide-prev path,
.city__navigationSlide-prev circle,
.city__navigationSlide-next path,
.city__navigationSlide-next circle {
    stroke: var(--color-red);
}
.city__navigationSlide-prev.swiper-button-disabled,
.city__navigationSlide-next.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(1)
}
.city__content-pagination.swiper-pagination {
    width: 60%;
}
.city__content-pagination.swiper-pagination .swiper-pagination-bullet {
    width: 32px;
    height: 2px;
    border-radius: 0;
    background-color: var(--color-white);
    margin: 0;
    margin-right: 20px;
    opacity: 1;
    transition: background-color .3s ease-in-out;
}
.city__content-pagination.swiper-pagination {
    bottom: 27px;
}
.city__content-pagination.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--color-yellow);
}
.city__content-pagination.swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
}